# Ignore everything
*
*/**

# But not these files and directories

# Config folders
!home/
!home/**
!system/
!system/**

# Do exclude some directories
home/.config/github-copilot/
home/.config/github-copilot/**

home/.config/Thunar/
home/.config/Thunar/**

home/.config/dconf/
home/.config/dconf/**

home/.config/gtk-3.0/
home/.config/gtk-3.0/**

home/.config/QtProject.conf

home/.config/strawberry/
home/.config/strawberry/**

home/.config/obsidian/
home/.config/obsidian/**

home/.config/systemd/
home/.config/systemd/**

# Setup files
!installed_packages.txt
!setup.sh
