[user]
	email = 18537290+MrVideo@users.noreply.github.com
	name = Mario Merlo
	signingkey = D005005EB5F3E129
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[includeIf "gitdir:~/Documents/Code/Perivallon/"]
	path = ~/.gitconfig-gitlab
