# Ignore everything
*
*/*

# But not these files and directories
!.config/
!.config/hypr/
!.config/hypr/**
!.config/i3/
!.config/i3/**
!.config/i3status/
!.config/i3status/**
!.config/kitty/
!.config/kitty/**
!.config/nvim/
!.config/nvim/**
!.config/picom/
!.config/picom/**
!.config/pipewire/
!.config/pipewire/**
!.config/polybar/
!.config/polybar/**
!.config/rofi/
!.config/rofi/**
!.config/swaylock/
!.config/swaylock/**
!.config/wireplumber/
!.config/wireplumber/**

!.gitconfig
!.gitconfig-gitlab
!.zprofile
!.zshrc

!etc/
!etc/**
!usr/
!usr/**

!installed_packages.txt
