[user]
	email = 18537290+MrVideo@users.noreply.github.com
	name = Mario Merlo
	signingkey = 29F492DA6B299B89
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[includeIf "gitdir:~/Documents/Code/Perivallon/"]
	path = ~/.gitconfig-gitlab
